*{
 margin: 0;
 padding: 0;
 font-family:'poppins',sans-serif;
 box-sizing: border-box;
}
.container{
 min-height: 1080px;
 background: linear-gradient(135deg,#153677,#4e085f);
 padding: 10px;
}
.todo{
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}